<div class="container" >

    <div class="jumbotron">
        <form class="form-signin" >
            <h2 class="form-signin-heading">Sign in - Hour Tracker</h2>
        <span class="help-block"
              ng-show="vm.loginError">
                        Login failed. Invalid user name or password.
                    </span>
            <label for="inputName" class="sr-only">Email address</label>
            <input type="text" id="inputName" class="form-control" placeholder="User name" required autofocus
                   ng-model="vm.user.name">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                   ng-model="vm.user.password">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" ng-model="vm.user.remember"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block"
                    ng-click="vm.login()">Sign in</button>
        </form>
    </div>


</div> <!-- /container -->